<div class="index-footer">
    <div class="index-footer-wrapper">
        <div class="index-footer-left">
            <div class="index-footer-customer">
                <span class="index-footer-page" (click)="routingService.routing('policy/privacy')">개인정보처리방침</span>
                <span class="index-footer-page" (click)="routingService.routing('policy/service')">이용약관</span>
                <span class="index-footer-page">결제서비스약관</span>
                <span class="index-footer-page">고객문의</span>
            </div>
            <div class="index-footer-company">
                <span class="index-footer-company-info">(주)클루 </span>
                <span class="index-footer-company-info">사업자등록번호: 363-48-00183</span>
                <span class="index-footer-company-info">대표자: 김효은, 신동주, 신도현</span>
                <br />
                <span class="index-footer-company-info">주소: 서울특별시 성북구 삼선동 4가 320 3층</span>
                <span class="index-footer-company-info">연락처: 070-4201-7607, admin@klue.kr</span>
                <br /><br />
                <span class="index-footer-company-info">©2017 KLUE. All rights reserved.</span>
            </div>
            <div class="index-footer-copyright">
            </div>
        </div>
        <div class="index-footer-right">
            <img src="/assets/img/Footer_Facebook.png" />
            <img src="/assets/img/Footer_Googleplay.png" />
            <img src="/assets/img/Footer_Appstore.png" />
        </div>
    </div>
</div>
