<div class="lecture-index-detail">
  <div class="lecture-index-eval">
    <div class="lecture-index-content">
      <div class="lecture-index-content-title"><img src="/img/lecture/eval-icon.png" class="lecture-index-content-icon" />강의평가 <span class="lecture-index-content-more">더 많은 강의평가 보러가기 ></span></div>
      <div class="lecture-index-content-eval">
        <div class="lecture-index-content-eval-left">
          <span class="lecture-index-content-eval-user">나교****<span class="lecture-index-content-eval-subfix">님의 의견</span></span>
          <span class="lecture-index-content-eval-context">역시 나교수님입니다.<br />
                        시험 직전에 나올 문제 정리해서 프린트로 나눠주시고 출첵은 가끔하십니다. 시험문제는 비교적 쉬운...
                    </span>
        </div>
        <div class="lecture-index-content-eval-right">
          <div class="lecture-index-content-eval-bar">
            <span class="lecture-index-content-eval-type">최고점 평가</span>
            <span class="lecture-index-content-eval-point">5.0</span>
            <img class="lecture-index-content-eval-icon" src="/img/lecture/thumb-good.png" />
          </div>
        </div>
      </div>
      <div class="lecture-index-content-eval">
        <div class="lecture-index-content-eval-left">
          <span class="lecture-index-content-eval-user">윤국****<span class="lecture-index-content-eval-subfix">님의 의견</span></span>
          <span class="lecture-index-content-eval-context">내용쉽고 성적이 잘 나오기는 하는데 솔직히 뭘 배우는지 잘 모르겠습니다. 난 학점만 잘 받으면 된다 하시는 분들은 들으시면 좋을듯. 하지만 성취감은...
                    </span>
        </div>
        <div class="lecture-index-content-eval-right">
          <div class="lecture-index-content-eval-bar">
            <span class="lecture-index-content-eval-type">최하점 평가</span>
            <span class="lecture-index-content-eval-point">2.0</span>
            <img class="lecture-index-content-eval-icon" src="/img/lecture/thumb-bad.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="lecture-index-content-button"><span class="ft14">이 강의에 대한</span> 강의평가 작성하기</div>
  </div>
  <div class="lecture-index-eval">
    <div class="lecture-index-content">
      <div class="lecture-index-content-title"><img src="/img/lecture/note-icon.png" class="lecture-index-content-icon" />필기노트 <span class="lecture-index-content-more">더 많은 필기노트 보러가기 ></span></div>
      <div class="lecture-index-content-note">
        <div class="lecture-index-content-note-thead"><span class="lecture-index-content-note-name">필기노트 이름</span><span class="lecture-index-content-note-uploader">업로더</span>
        </div>
        <div class="lecture-index-content-note-context"><span class="lecture-index-content-note-name">나교수 교수님 알고리즘 중간 범위</span><span class="lecture-index-content-note-uploader">윤국수</span></div>
        <div class="lecture-index-content-note-context"><span class="lecture-index-content-note-name">나교수 교수님 알고리즘 중간 범위</span><span class="lecture-index-content-note-uploader">윤국수</span></div>
        <div class="lecture-index-content-note-context"><span class="lecture-index-content-note-name">나교수 교수님 알고리즘 중간 범위</span><span class="lecture-index-content-note-uploader">윤국수</span></div>
      </div>
    </div>
    <div class="lecture-index-content-button"><span class="ft14">이 강의에 대한</span> 필기노트 업로드하기</div>
  </div>
</div>
