<div class="mypage-password-wrap" #pwContainer>
  <div class="mypage-password-title"><img src="/assets/img/Bookmark.png" align="center">비밀번호 변경</div>
  <div class="mypage-password-container">
    <div class="mypage-password-contents-line" *ngIf="isLogin">
      <div class="mypage-password-name">현재 비밀번호</div>
      <input class="mypage-password-input" type="password" (change)="oldPw = $event.target.value">
      <span class="mypage-password-description" *ngIf="!isWrong_oldPw">현재 계정의 비밀번호를 입력해 주세요.</span>
      <span class="mypage-password-wrong-description" *ngIf="isWrong_oldPw">{{pwWrongContent}}</span>
    </div>
    <div class="mypage-password-contents-line">
      <div class="mypage-password-name">새 비밀번호</div>
      <input class="mypage-password-input" type="password" #newPw>
      <span class="mypage-password-description" *ngIf="!isWrong_newPw">영문, 숫자, 특수문자 조합하여 8~15자</span>
      <span class="mypage-password-wrong-description" *ngIf="isWrong_newPw">{{pwWrongContent}}</span>
    </div>
    <div class="mypage-password-contents-line">
      <div class="mypage-password-name">비밀번호 확인</div>
      <input class="mypage-password-input" type="password" #pwcheck>
      <span class="mypage-password-description">한 번 더 입력해주세요</span>
      <button class="mypage-password-btn" klueBtn (click)="changePw(newPw.value, pwcheck.value)">변경하기</button>
    </div>
  </div>
</div>
