.lecture-index-main {
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
  box-sizing: border-box;
  min-height: 250px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding-bottom: 25px;
}

.lecture-index-main:after {
  content: "";
  display: block;
  clear: both;
}

.lecture-index-main-row {
  width: 100%;
}

.lecture-index-main-row:after {
  content: "";
  display: block;
  clear: both;
}

.lecture-index-main-left {
  width: 185px;
  float: left;
  padding-left: 41px;
  padding-top: 37px;
}

.lecture-index-main-right {
  width: 511px;
  margin-left: 60px;
  float: left;
}

.lecture-index-main-title {
  width: 100%;
  margin-top: 40px;
  font-size: 32px;
  color: #4a4a4a;
}

.lecture-title-professor {
  margin-top: 12px;
  font-size: 20px;
  text-align: left;
  color: #9b9b9b;
}

.lecture-index-main-rate {
  width: 100%;
  height: 34px;
  margin-top: 10px;
  font-size: 18px;
  color: #9b9b9b;
}

.lecture-main-rate-star {
  display: inline-block;
  margin-left: 3.5px;
}

.lecture-main-rate-star-img {
  margin: 0 4.5px 0 4.5px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.lecture-main-rate-point {
  font-size: 28px;
  text-align: center;
  color: #fd884d;
  margin-left: 5px;
  vertical-align: top;
}

.lecture-index-main-info {
  width: 100%;
}

.lecture-main-info-table {
  font-size: 14px;
  border-spacing: 0 10px;
  font-weight:200;
}

.lecture-main-info-table > tbody > tr > th {
  font-weight: 700;
  padding-right: 10px;
  text-align: left;
}

.lecture-main-info-table > tbody > tr > td {
  color: #9b9b9b;
}

.lecture-main-info-table > tbody > tr > td:nth-of-type(1) {
  width: 131px;
}

.lecture-main-info-table > tbody > tr > td:nth-of-type(2) {
  width: 200px;
}

.lecture-index-main-action {
  width: 100%;
  min-height: 32px;
}

.lecture-index-main-action:after {
  content: "";
  display: block;
  clear: both;
}

.lecture-index-main-action-left {
  width: 185px;
  float: left;
  padding-left: 43px;
  float: left;
  min-height: 45px;
}

.lecture-index-main-action-left > span {
  display: block;
  margin: 0 auto;
  width: 152px;
  font-size: 14px;
  border-left: 1px solid #ffbd85;
  border-right: 1px solid #ffbd85;
  text-align: center;
  color: #9b9b9b;
  font-weight: 100;
  padding-top: 7px;
  height: 38px;
}

.lecture-index-main-action-right {
  margin-right: 60px;
  min-height: 32px;
  float: right;
}

.lecture-index-main-action-right > button {
  width: 215px;
  height: 44px;
  border-radius: 25px;
  background-color: #ffffff;
  border: solid 1px #fd884d;
  padding: 0;
  font-size: 14px;
  text-align: center;
  color: #fd884d;
}

.lecture-eval-rate-star-img {
  display: inline-block;
  float: left;
  width: 30px;
  height: 29px;
  vertical-align: middle;
  background-image: url('/assets/img/Empty_Star.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 6px;
  background-size: 28px;
}

.star-full {
  background-image: url('/assets/img/Star.png');
  background-size: contain;
}

.lecture-search-btn-img{
  width:15px;
  height:15px;
  margin-right:5px;
}


.lecture-info-relative {
  width: 215px;
  height: 44px;
  border-radius: 25px;
  background-color: #f1f1f1;
  display: inline-block;
  margin-right: 10px;
  border: 0;
  font-weight: 500;
  padding: 0 10px;
}

.lecture-info-relative-select{
  width:inherit;
  height:inherit;
  border: 0;
  outline: none;
  background-color: transparent;
}
