.modal-wrap{
    width:100%;
    height:100%;
    position: fixed;
    overflow:hidden;
    z-index: 4;
    background-color: rgba(74, 74, 74, 0.9);
    left:0;
    top:0;
    display:table;
    min-width: 1024px;
}
.modal-row{
    display:table-cell; vertical-align: middle;
}
.modal-content{
    width:400px;
    padding-top:62px;
    padding-bottom: 62px;
    background-color: #fafafa;
    border-radius: 5px;
    border: solid 1px #979797;
    margin:0 auto;
}
/* JS Action 으로 Body overFlow hidden */
